<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<system.web>
  <compilation debug="true" />
</system.web>
  
<system.serviceModel>
    <services>
      <service name="PerSessionWCFService.ProductService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7741/PerSessionWCFService/ProductService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="PerSessionWCFService.IProductService"
                  bindingNamespace="http://dotnetmentors.com/productservice" >
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>        
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
</system.serviceModel>

</configuration>
